<!doctype html>
{% load static i18n %}
<html>
<head>
    <title>DjangoStars 0xFA</title>
    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
